/**
 * @file
 * Styles for the Secret element.
 */

.secret .secret__value__hidden,
.secret .secret__toggle__show {
  display: none;
}

.secret .secret__value,
.secret .secret__toggle__hide {
  display: inline-block;
  max-width: 11rem;
}

.secret--hidden .secret__value__hidden,
.secret--hidden .secret__toggle__show {
  display: inline-block;
}
.secret--hidden .secret__value,
.secret--hidden .secret__toggle__hide {
  display: none;
}

.secret__copy {
  display: flex;
  align-items: center;
}

.secret__copy .badge {
  display: none;
}
