/*
 * Copyright 2018 Google Inc.
 *
 * This program is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License version 2 as published by the
 * Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public
 * License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc., 51
 * Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
 */

.apigee-edge-developer-app-view .wrapper--buttons {
  text-align: right;
}

.wrapper--primary,
.wrapper--secondary {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

.wrapper--secondary {
  margin-left: 2%;
}

.wrapper--secondary .api-product-list-row {
  max-width: 300px;
  margin-bottom: 1rem;
}

.apigee-edge-developer-app-view label {
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: bold;
  word-break: break-all;
  padding-right: 1rem;
  display: inline-block;
  width: 140px;
}

.apigee-edge-developer-app-view .api-product-list-row .api-product-name {
  float: left;
}

.apigee-edge-developer-app-view .api-product-list-row .wrapper--status {
  float: right;
}

.apigee-edge-developer-app-view .hidden {
  display: none;
}

.secret {
  display: none;
}
