/*
 * Copyright 2018 Google Inc.
 *
 * This program is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License version 2 as published by the
 * Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public
 * License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc., 51
 * Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
 */

/**
 * @file
 * Styles for the Secret element.
 */
.secret .secret__value__hidden,
.secret .secret__toggle__show {
  display: none;
}

.secret .secret__value,
.secret .secret__toggle__hide {
  display: block;
}

.secret--hidden .secret__value__hidden,
.secret--hidden .secret__toggle__show {
  display: block;
}
.secret--hidden .secret__value,
.secret--hidden .secret__toggle__hide {
  display: none;
}

.secret__copy {
  display: flex;
  align-items: center;
}

.secret__copy .badge {
  display: none;
}
