/*
 * Copyright 2018 Google Inc.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 * MA 02110-1301, USA.
 */

/* Theme it as checkboxes render element. */
#edit-rbac #edit-rbac-grant-access-if-attribute-missing .form-item {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.rbac-settings .api-product > .name {
  font-weight: bold;
}

.rbac-settings .api-product > .description {
  font-size: 0.85em;
  padding-bottom: 0.5em;
}
