# Ignore all hidden files exept these.
.*
!/.circleci
!/.github
!/.gitignore
!/.gitattributes
!/.editorconfig
!/.travis.yml
!.gitkeep

# Other ignored paths and files.
/vendor
composer.lock
tests/src/Behat/behat.local.yml
