# Files.
.*                              export-ignore
phpcs.xml.dist                  export-ignore
CONTRIBUTING.md                 export-ignore

# Folders.
.github                         export-ignore
.travis                         export-ignore
tests                           export-ignore

# Drupal specific files should be identified & highlighted as PHP files on Github.
*.module linguist-language=PHP
*.install linguist-language=PHP
*.profile linguist-language=PHP
*.theme linguist-language=PHP
