{#
/**
 * @file apidoc.html.twig
 * Default theme implementation to present API Doc data.
 *
 * This template is used when viewing API Doc pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_apidoc()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('apidoc') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
