{#
/**
 * @file
 * Default theme implementation to display pruduct lists from an app credential.
 *
 * Available variables:
 * - content: List of API products included in the app crendetial.
 * - attributes: HTML attributes for the containing element.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_app_credential_product_list()
 *
 * @ingroup themeable
 */
#}
<div {{ attributes }}>
  {{ content }}
</div>
