{#
/**
 * @file
 * Default theme implementation to status_property_element.
 *
 * Available variables:
 * - element: Element that will be rendered.
 * - element['value'] : the status string.
 *
 * @ingroup themeable
 */
#}

<span class="status-property status-property-{{ element.value }}">
  {{ element.value|render|capitalize }}
</span>