{#
/**
 * @file
 * Default theme implementation to status_property_element.
 *
 * Available variables:
 * - element: Element that will be rendered.
 * - element['value'] : a link
 * - element['description'] : a description
 * - element['pre_render_addition'] : added during the #pre_render function
 * - element['#random_number'] : a random number variable, won't be printed with the element.
 *
 * @ingroup themeable
 */
#}

<div class="status-property status-property-{{ element.value }}">
  {{ element.value|render|capitalize }}
</div>